<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>placementprediction</title>
    <link
        href="https://fonts.googleapis.com/css2?family=Kaushan+Script&amp;family=Oxygen:wght@300;400;700&amp;family=Poppins:wght@100&amp;display=swap"
        rel="stylesheet">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<body>

    <div class="container">
        <div class="navbar">
            <div id="particle-js"></div>
            <div class="logo">Logiplacement</div>
            <nav>
                <ul>
                    <li><a href="#">Login</a></li>
                    <li><a href="#">Signup</a></li>
                    <li><a href="">About Us</a></li>
                </ul>
            </nav>
            <img src=" /static/Logo/menu.png" class="menuicon" alt="menu image">
        </div>
    </div>

</body>