<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Resume Analysis</title>
  {% load static %}
  <link rel="stylesheet" href="{% static '/resumeanalysis.css' %}" />
</head>

<body>
  <div id="container1">
    <div class="child1">
      <h1>PDF Viewer</h1>

      <embed src="{{ pdf_data }}" width="100%" height="600px" id="pdfviewer" />
    </div>
    <div class="child2">
      <h1>Resume Analysis</h1>
      <h2>Hello {{ resume_data.name }}</h2>

      <label for="skills">Your Current Skills:</label><br />
      <input type="text" id="skills" name="skills" value="{{ resume_data.skills }}" readonly /><br />

      <p>See our skills recommendation below:</p>

      {% for i in resume_data.skills %} {% if i.lower in ds_keyword %}
      <div>
        <h3>Our analysis says you are looking for Data Science Jobs.</h3>
        <h4>Recommended skills for you:</h4>
        <ul>
          {% for skill in ds_recommended_skills %}
          <li>{{ skill }}</li>
          {% endfor %}
        </ul>
      </div>
      {% elif i.lower in web_keyword %}
      <!-- Web Development Recommendation -->
      <!-- Similar structure as above -->
      {% elif i.lower in android_keyword %}
      <!-- Android App Development Recommendation -->
      <!-- Similar structure as above -->
      {% elif i.lower in ios_keyword %}
      <!-- IOS App Development Recommendation -->
      <!-- Similar structure as above -->
      {% elif i.lower in uiux_keyword %}
      <!-- UI-UX Recommendation -->
      <!-- Similar structure as above -->
      {% endif %} {% endfor %}

      <h1>Resume Analysis Results</h1>
      <h2>Recommended Field: {{ reco_field }}</h2>
      <h3>Recommended Skills:</h3>
      <ul>
        {% for skill in recommended_skills %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
      <h1>Candidate Level</h1>
      <h4>your experience is {{exp}}</h4>
    </div>
  </div>
  <!-- {% if exp_user %}
  {% endif %} -->
  {% if cand_level %}
  <h4 style="text-align: left; color: 
            {% if cand_level == 'Fresher' %}
                #d73b5c;
            {% elif cand_level == 'Intermediate' %}
                #1ed760;
            {% elif cand_level == 'Experienced' %}
                #fba171;
            {% endif %}
        ">
    You are at {{ cand_level }} level!
  </h4>
  {% endif %}


  <h3>Recommended Course:</h3>
  <ul>
    {% for course in rec_course %}
    <li><a href="{{ course.link }}" target="_blank">{{ course.name }}</a></li>
    {% endfor %}
  </ul>

  <h3>Resume Tips & Ideas💡</h3>
  <ul>
    {% for tip in tips %}
    <li style="color: {{ tip.color }};">{{ tip.message }}</li>
    {% endfor %}
  </ul>

  <h3>Resume Score📝</h3>
  <style>
    .stProgress>div>div>div>div {
      background-color: #d73b5c;
    }
  </style>

  <h4>Your Resume Writing Score: {{ resume_score }}</h4>
  <p>
    Note: This score is calculated based on the content that you have in your
    Resume.
  </p>

  <!-- <h2>Bonus Video for Resume Writing Tips💡</h2>

  <h3>✅ {{ resume_vid_title }}</h3>
  <iframe width="560" height="315" src="{{ resume_vid }}" frameborder="0" allowfullscreen></iframe> -->

  <h2>Bonus Video for Interview Tips💡 {{interview_vid}}</h2>

  <!-- <h3>✅ {{ int_vid_title }}</h3> -->
  <h3>✅</h3>
  <!-- <video width="560" height="315" controls>
    <source src="{{ interview_vid }}" type="video/mp4">
    Your browser does not support the video tag.
  </video> -->
  <h3>Embedded YouTube Video</h3>
  <!-- Replace VIDEO_ID with the actual ID of the YouTube video -->
  {%load static%}
  <iframe width="560" height="315" src="{{interview_vid }}" frameborder="0" allowfullscreen></iframe>

</body>

</html>