<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Resume Analysis</title>
  {% load static %}
  <link rel="stylesheet" href="{% static '/resumeanalysis.css' %}" />
</head>

<body>
  <!-- pdf viewer -->
  <div id="container1">
    <div class="child1">
      <h1>PDF Viewer</h1>

      <embed src="{{ pdf_data }}" width="100%" height="600px" id="pdfviewer" />
      <h2>Bonus Video for Resume Writing Tips💡</h2>

      <!-- <h3>✅ </h3> -->
      <iframe width="560" height="315" src="{{ resume_vid }}" frameborder="0" allowfullscreen></iframe>

      <h2>Bonus Video for Interview Tips💡 </h2>

      <!-- <h3>✅</h3> -->

      <iframe width="560" height="315" src="{{interview_vid }}" frameborder="0" allowfullscreen></iframe>
    </div>

    <!-- resume analysis starts -->
    <div class="child2">
      <h1>Resume Analysis</h1>
      <h2>Hello {{ resume_data.name }}</h2>

      Your Current Skills are:
      <div id="skills-section">
        {% for skill in resume_data.skills %}
        <span class="skill">{{ skill }}</span>
        {% endfor %}
      </div>

      <p>See our skills recommendation below:</p>

      <!-- {% for i in resume_data.skills %}
      {% if i.lower in ds_keyword %}
      <div>
        <h3>Our analysis says you are looking for Data Science Jobs.</h3>
        <h4>Recommended skills for you:</h4>
        <ul>
          {% for skill in ds_recommended_skills %}
          <li>{{ skill }}</li>
          {% endfor %}
        </ul>
      </div>
      {% elif i.lower in web_keyword %}
      <h3>Our analysis says you are looking for Web Development Jobs.</h3>
      <h4>Recommended skills for you:</h4>
      <ul>
        {% for skill in web_recommended_skills %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
      {% elif i.lower in android_keyword %}
      <h3>Our analysis says you are looking for Android Development Jobs.</h3>
      <h4>Recommended skills for you:</h4>
      <ul>
        {% for skill in android_recommended_skills %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
      {% elif i.lower in ios_keyword %}
      <h3>Our analysis says you are looking for ios Developer Jobs.</h3>
      <h4>Recommended skills for you:</h4>
      <ul>
        {% for skill in ios_recommended_skills %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
      {% elif i.lower in uiux_keyword %}
      <h3>Our analysis says you are looking for UIUX Development Jobs.</h3>
      <h4>Recommended skills for you:</h4>
      <ul>
        {% for skill in uiux_recommended_skills %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
      {% endif %}
      {% endfor %} -->

      <h1>Resume Analysis Results</h1>
      <h2>Recommended Field:Our analysis Says You are Looking for jobs in {{ reco_field }}</h2>
      <h3>Recommended Skills For {{reco_field}}:</h3>
      <ul>
        {% for skill in recommended_skills %}
        <li>{{ skill }}</li>
        {% endfor %}
      </ul>
      <!-- <h1>Candidate Level</h1> -->
      <!-- <h4>your experience is {{exp}}</h4> -->

      <!-- {% if exp_user %}
  {% endif %} -->
      <!-- {% if cand_level %}
  <h4 style="text-align: left; color: 
            {% if cand_level == 'Fresher' %}
                #d73b5c;
            {% elif cand_level == 'Intermediate' %}
                #1ed760;
            {% elif cand_level == 'Experienced' %}
                #fba171;
            {% endif %}
        ">
    You are at {{ cand_level }} level!
  </h4>
  {% endif %} -->


      <h3>Recommended Course:</h3>
      <ul>
        {% for course in rec_course %}
        <li><a href="{{ course.link }}" target="_blank">{{ course.name }}</a></li>
        {% endfor %}
      </ul>

      <h3>Resume Tips & Ideas💡</h3>
      <ul>
        {% for tip in tips %}
        <li style="color: {{ tip.color }};">{{ tip.message }}</li>
        {% endfor %}
      </ul>

      <h3>Resume Score📝</h3>
      <style>
        .stProgress>div>div>div>div {
          background-color: #d73b5c;
        }
      </style>

      <h4>Your Resume Writing Score: {{ resume_score }}</h4>
      <p>
        Note: This score is calculated based on the content that you have in your
        Resume.
      </p>

      {% if resume_tips %}
      <h3>Resume Tips:</h3>
      <ul>
        {% for tip in resume_tips %}
        <li style="color: {{ tip.color }}">{{ tip.message }}</li>
        {% endfor %}
      </ul>
      {% endif %}
    </div>
  </div>



</body>

</html>