<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ResuemPage</title>
  <link href="https://unpkg.com/tailwindcss@^2/dist/tailwind.min.css" rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static '/final.css' %}" />
  <link
    href="https://fonts.googleapis.com/css2?family=Kaushan+Script&amp;family=Oxygen:wght@300;400;700&amp;family=Poppins:wght@100&amp;display=swap"
    rel="stylesheet">
  {% load static %}
  <link rel="stylesheet" href="{% static 'style.css' %}" />
</head>

<!-- <body style="background-color: white;">

  <div class="container">
    <div class="navbar">
      <div id="particle-js"></div>
      <div class="logo">Logiplacement</div>
      <nav>
        <ul>
          <li><a href="#">Login</a></li>
          <li><a href="#">Signup</a></li>
          <li><a href="">About Us</a></li>
        </ul>
      </nav>
      <img src=" /static/Logo/menu.png" class="menuicon" alt="menu image">
    </div>
  </div> -->

<header class="text-gray-400 bg-gray-900 body-font">
  <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">
    <a class="flex title-font font-medium items-center text-white mb-4 md:mb-0">
      <span class="ml-3 text-xl" id="title1">Logiplacement</span>
    </a>
    <nav class="md:ml-auto md:mr-auto flex items-center text-base justify-center gap-5">
      <a class="ml-5 mr-5 hover:text-white" href="{% url 'home' %}">Home</a>
      <a class="mr-5 hover:text-white" href="{% url 'prediction' %}">Prediction</a>
      <a class="mr-5 hover:text-white" href="{% url 'resumepage' %}">Resume</a>
      <a class="mr-5 hover:text-white" href="{% url 'learning' %}">Learning</a>
      <a class="mr-5 hover:text-white" href="{% url 'signup' %}">signup</a>
      <a class="mr-5 hover:text-white">About Us</a>
      <a class="mr-5 hover:text-white">Contact</a>

    </nav>
    <!-- HTML !-->
  </div>
</header>
<section class="text-gray-600 body-font bg-gray-900">
  <div class="container px-5 py-24 mx-auto">
    <div class="flex flex-wrap -m-4">
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
          <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY</h2>
          <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Raclette Blueberry Nextious Level</h1>
          <p class="leading-relaxed mb-3">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          <a class="text-indigo-500 inline-flex items-center">Learn More
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <div class="text-center mt-2 leading-none flex justify-center absolute bottom-0 left-0 w-full py-4">
            <span class="text-gray-400 mr-3 inline-flex items-center leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
              <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                <circle cx="12" cy="12" r="3"></circle>
              </svg>1.2K
            </span>
            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
              <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
              </svg>6
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
          <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY</h2>
          <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Ennui Snackwave Thundercats</h1>
          <p class="leading-relaxed mb-3">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          <a class="text-indigo-500 inline-flex items-center">Learn More
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <div class="text-center mt-2 leading-none flex justify-center absolute bottom-0 left-0 w-full py-4">
            <span class="text-gray-400 mr-3 inline-flex items-center leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
              <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                <circle cx="12" cy="12" r="3"></circle>
              </svg>1.2K
            </span>
            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
              <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
              </svg>6
            </span>
          </div>
        </div>
      </div>
      <div class="p-4 lg:w-1/3">
        <div class="h-full bg-gray-100 bg-opacity-75 px-8 pt-16 pb-24 rounded-lg overflow-hidden text-center relative">
          <h2 class="tracking-widest text-xs title-font font-medium text-gray-400 mb-1">CATEGORY</h2>
          <h1 class="title-font sm:text-2xl text-xl font-medium text-gray-900 mb-3">Selvage Poke Waistcoat Godard</h1>
          <p class="leading-relaxed mb-3">Photo booth fam kinfolk cold-pressed sriracha leggings jianbing microdosing tousled waistcoat.</p>
          <a class="text-indigo-500 inline-flex items-center">Learn More
            <svg class="w-4 h-4 ml-2" viewBox="0 0 24 24" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round">
              <path d="M5 12h14"></path>
              <path d="M12 5l7 7-7 7"></path>
            </svg>
          </a>
          <div class="text-center mt-2 leading-none flex justify-center absolute bottom-0 left-0 w-full py-4">
            <span class="text-gray-400 mr-3 inline-flex items-center leading-none text-sm pr-3 py-1 border-r-2 border-gray-200">
              <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                <path d="M1 12s4-8 11-8 11 8 11 8-4 8-11 8-11-8-11-8z"></path>
                <circle cx="12" cy="12" r="3"></circle>
              </svg>1.2K
            </span>
            <span class="text-gray-400 inline-flex items-center leading-none text-sm">
              <svg class="w-4 h-4 mr-1" stroke="currentColor" stroke-width="2" fill="none" stroke-linecap="round" stroke-linejoin="round" viewBox="0 0 24 24">
                <path d="M21 11.5a8.38 8.38 0 01-.9 3.8 8.5 8.5 0 01-7.6 4.7 8.38 8.38 0 01-3.8-.9L3 21l1.9-5.7a8.38 8.38 0 01-.9-3.8 8.5 8.5 0 014.7-7.6 8.38 8.38 0 013.8-.9h.5a8.48 8.48 0 018 8v.5z"></path>
              </svg>6
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<div class="container">
  <div class="uploadresume">
    <div class="text">Help others by providing your Resume</div>
    <form action="{% url 'upload_resume' %}" method="post" enctype="multipart/form-data">
      {% comment %} isem me atka tha yaha action me path dala hai jisse jab
      bhi ye form ka submit hoga ,the path will be the current location and
      the location in the action fir vo jayega urls me path check karga
      jiska bhi match hoga uska function call karega {% endcomment %}
      {%csrf_token %}
      <div class="uploadbtn">
        <input type="file" name="uploadresume" id="uploadresume" style="width: 300px" class="custom-file-input" />
      </div>
      <div class="decriptio">
        <select id="job_role" name="job_role">
          <option value="" disabled selected>Select a job role</option>
          <option value="software-engineer">Software Engineer</option>
          <option value="data-scientist">Data Scientist</option>
          <option value="project-manager">Project Manager</option>
          <!-- Add more options as needed -->
        </select>
      </div>
      <div class="submitbtn"><button type="submit">Submit</button></div>
      <!-- <div class="submitbtn"><button type="reset">reset</button></div> -->
    </form>
    <br />
    <br />
    <br>
    {% if resume_uploaded %}
    <h1 class="op">
      <p>Resume uploaded successfully</p>
    </h1>

    <script>
      // Go back to the previous page after 3 seconds
      setTimeout(function () {
        alert("Resume uploaded successfully!");
        // window.location.reload();
        window.history.back();

      }, 10);
    </script>

    {% elif error_message %}
    <h1 class="op">
      <p>{{ error_message }}</p>
      <script>
        // Go back to the previous page after 3 seconds
        setTimeout(function () {
          alert("{{error_message}}");
          window.history.back();
        }, 10);
      </script>
    </h1>

    {% else %}
    <!-- <h1 class="op">
        <p>Resume upload failed</p>
      </h1> -->
    {% endif %}
  </div>

  <div class="uploadresume">
    <div class="text">Click below to check the template resume</div>
    <div class="tempimg">
      <div class="overlappresume" id="one"></div>
      <div class="overlappresume" id="two"></div>
      <div class="overlappresume" id="three"></div>
    </div>
    <div class="checkresume">
      <button type="submit"><a href="{% url 'resume_download' %}">Check resume</a></button>
    </div>
  </div>

  <div class="uploadresume">
    <h1>Upload Your Resume</h1>
    <form method="post" enctype="multipart/form-data" action="analyzereume">
      {% csrf_token %}
      <input type="file" name="pdf_file" />
      <button type="submit">Upload</button>
    </form>
  </div>
</div>
</body>

</html>